<span>
	<ul>
		<li><a routerLink="/login" >Login</a></li>
		<li><a routerLink="/register" >Register</a></li>
		<li><a routerLink="/fireworks" >Fireworks</a></li>
		<li><a routerLink="/portfolio" >Portfolio</a></li>
	</ul>
</span>
<router-outlet></router-outlet>
